body {
  background-color: #e2e2e2; }

.container h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 0px; }
.container h3 {
  font-size: 18px;
  margin-top: 0px;
  color: #999;
  margin-bottom: 45px; }
.container .mainCol {
  padding: 10px 20px;
  border: 4px solid #d9d9d9;
  background-color: #FFF; }
.container label {
  display: block;
  font-weight: 300;
  padding-left: 5px; }
.container input[type='checkbox'] {
  display: none; }
.container input[type='checkbox'] + .checkboxLabel:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/unchecked.png") left center no-repeat;
  cursor: pointer; }
.container input[type='checkbox']:checked + .checkboxLabel:before {
  background: url("../img/checked.png") left center no-repeat; }
.container select {
  background: #fff;
  border: 2px solid #bbbbbb;
  -webkit-appearance: none;
  padding: 0px 10px;
  background: url("../img/selectArrow.png") no-repeat right #fff; }
.container button {
  background-color: #f2f2f2;
  border: 2px solid #bbbbbb;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 10px 0px 10px 0px; }
.container .submit {
  margin-bottom: 20px; }
.container input {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #bbbbbb; }
.container .colHeader {
  font-family: "adelle", serif;
  display: block;
  margin-bottom: 10px; }
.container .sortBy {
  position: absolute;
  left: 100%;
  margin-left: -210px;
  top: 15px; }
.container .providers {
  height: 250px;
  overflow: auto; }
  .container .providers .provider:nth-child(even) .nameAndEmail, .container .providers .provider:nth-child(even) .specialtyPractice {
    background-color: #e2e2e2; }
  .container .providers .nameAndEmail, .container .providers .specialtyPractice, .container .providers .deleteBox {
    padding: 10px 10px 15px 10px; }
  .container .providers .name {
    font-weight: bold; }
  .container .providers .specialtyPractice {
    text-align: right; }
  .container .providers .providerSubtitle {
    font-size: 12px; }
.container .deleteButtonBox {
  width: 100%;
  text-align: right;
  padding-top: 45px;
  padding-bottom: 0px; }

/*# sourceMappingURL=main.css.map */
