body{
  background-color: #e2e2e2;
}

.container{

  h1{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0px;
  }

  h3{
    font-size: 18px;
    margin-top: 0px;
    color: #999;
    margin-bottom: 45px;

  }

  .mainCol {
    padding: 10px 20px;
    border: 4px solid #d9d9d9;
    background-color: #FFF;
  }

  label{
    display: block;
    font-weight: 300;
    padding-left: 5px;
  }

  input[type='checkbox']{
    display: none;
  }

  input[type='checkbox'] + .checkboxLabel:before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/unchecked.png') left center no-repeat;
    cursor: pointer;
  }

  input[type='checkbox']:checked + .checkboxLabel:before{
    background: url('../img/checked.png') left center no-repeat;
  }

  select{
    background: #fff;
    border: 2px solid #bbbbbb;
    -webkit-appearance: none;
    padding: 0px 10px;
    background: url('../img/selectArrow.png') no-repeat right #fff;
  }

  button{
    background-color: #f2f2f2;
    border: 2px solid #bbbbbb;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 10px 0px 10px 0px;

  }

  .submit{
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #bbbbbb;
  }

  .colHeader{
    font-family: "adelle", serif;
    display: block;
    margin-bottom: 10px;
  }


  .sortBy {
    position: absolute;
    left: 100%;
    margin-left: -210px;
    top: 15px;
  }

  .providers {
    height: 250px;
    overflow: auto;

    .provider:nth-child(even) {

      .nameAndEmail, .specialtyPractice {
        background-color: #e2e2e2;
      }
    }

    .nameAndEmail, .specialtyPractice, .deleteBox {
      padding: 10px 10px 15px 10px;
    }

    .name{
      font-weight: bold;
    }

    .specialtyPractice {
      text-align: right;
    }

    .providerSubtitle{
      font-size: 12px;

    }
  }

  .deleteButtonBox{
    width: 100%;
    text-align: right;
    padding-top: 45px;
    padding-bottom: 0px;
  }
}